@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box; /* when you add a padding to an element it doesn't affect its width */
}

body {
    font-family: 'Muli', 'sans-serif';
    display: flex; /* these lines make the code centered */
    flex-direction: column; /* these lines make the code centered */
    align-items: center; /* these lines make the code centered */
    justify-content: center; /* these lines make the code centered */
    height: 100vh; /* these lines make the code centered;  vh = viewport height; 100vh == 100% viewport's height */
    overflow: hidden; /* these lines make the code centered */
    margin: 0;
}


.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}


.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) { /* selects the last 2 panel divs by using nth-of-type function */
        display: none; /* dont want to show last 2 panels in small screens */
    }
}